<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<form action="/authenticate">
  <label>First name:</label>
  <input type="text" name="fname">
  <br>
  <label>Password:</label>
  <input type="password" name="pwd">
  <br>
  <input type="submit">
</form>
