
  <div class="page-header">
    <h1 class="text-center"><b>Ringer Finder</b></h1>
  </div>
  <div>
    <h1 class= "text-center"><small>Welcome to Ringer Finder, the site that connects ringers with the pick-up sports teams that need them.</small></h1>
  </div>
  <div class="row">
      <div class="col-md-6">
        <p class="text-center">
        <a href="/ringers"><button type="button" class="btn btn-primary btn-lg">I'm looking for a ringer</button></a>
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-center">
        <a href="/login"><button type="button" class="btn btn-primary btn-lg">I am a ringer</button></a>
        </p>
      </div>
  </div>
